/* Logged in components */
.logged-in {
    display: none !important;
}

.logged-out {
    display: inline !important;
}

.logged .logged-in {
    display: inline !important;
}

.logged .logged-out{
    display: none !important;
}

.container{
    margin-top: 40px;
}
/* Navbar */

.stick-navbar{
    display: inline-flex;
    position: sticky;
    justify-content: center;
    top: 0px;
    overflow: visible;
    border-top: 4px solid green;
    border-bottom: 1px solid #BBB;
    box-shadow: 0px 1px 3px #BBB;
    width: 100%;
    z-index: 10;
    background-color: white;
}


.stick-navbar ul form{
    padding: 5px;
}

.stick-navbar ul{
    margin: 0px 5px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;

}

.stick-navbar ul a:hover{
    background-color: #EEE;
}
.stick-navbar ul a{
    text-decoration: none;
    color: black;
    padding: 10px 10px 5px 10px;
    margin: 0px 10px;
}


#logo{
    padding: 0px 10px;
}

.sub-button {
  position: absolute;
  right: 20px;
  padding: 5px;
}

.stick-navbar .sub-button a:hover{
    background-color: white;
}

/* Searches */

.search-set{
    white-space: nowrap;
    justify-content: flex-end;
}

#search-button{
    margin: 0px !important;
    position: relative;
    right: 0%;
    width: 80%;
    text-align: right;

}

/*#search-button:focus{
    animation-name: search-stretch;
    animation-duration: 1s;
    width: 350%;
}*/

/*@keyframes search-stretch {
    from {width: 30%;}
    to {width: 350%;}
}*/

#search-button + button{
    position: relative;
    /*opacity: 0;*/
    right: 0%;
    /*display: none;*/
    width: 15%;
    height: 70%;
    border-radius: 10px;
}
#search-button:focus + button{
    display: inherit;
    opacity: 100;
}

#search-submit:active{
    display: inherit;
    opacity: 100;
}

/* Posts */
#post-content{
    position: relative;
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(12, 1fr) 225px;
    grid-template-rows: 60px repeat(5, 1fr);
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    background: transparent;
    margin: 20px 0;
    transition: all 0.3s ease;
    outline: none;
    color: #000;

}

#post-title{
    grid-row: 1;
    grid-column: 1/14;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

#post-detail{
    grid-row: 2/7;
    grid-column: 1/12;
    margin-left: 20px;
    text-align: justify;
}

#post-map{
    grid-row: 2/7;
    grid-column: 13/14;
    right: 0%;
    bottom: 10%;
    font-size: 10px;
}

#post-map *{
    margin: 0px;
}

#save-btn {
  margin-top: 10px;
}

#map {
  border: 3px solid black;
  padding: 5px;
}

#view-marker {
  width: 250px;
  height: 30px;
}

#error{
    position: absolute;
    opacity: 0;
    border: 1px solid grey;
    padding: 5px;
    background-color: #FF5555;
    color: white;
    z-index: 1;

}

.answer{
    border-top: 1px solid lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.answer .answer-score{
    text-align: center;
}

#address {
  display: none;
}

#vote-down{
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-top: 20px solid lightgray;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}

body.logged #vote-down{
    border-top: 20px solid black;
    cursor: pointer;
}

body.logged #vote-down:hover{
    transform: scale(1.2);
}

body.logged #vote-down:active{
    transform: scale(0.8);
}

#vote-up{
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
    border-bottom: 20px solid lightgray;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}

body.logged #vote-up{
    border-bottom: 20px solid black;
    cursor: pointer;
}

body.logged #vote-up:hover{
    transform: scale(1.2);
}

body.logged #vote-up:active{
    transform: scale(0.8);
}



.answer .answer-content{
    margin-left: 10%;
    position: relative;
    width: 100%;
}

.answer-content .content-small{
    white-space: normal;
    position: absolute;
    font-size: 10px;
    right: 10%;
    bottom: 0%;
}

.content-small *{
    margin: 2px;
}
